/* For the screen layout, we can use colors (white on blue) and striped rows. */
@media not pdf {
  .table th {
    background-color: blue;
    color: white
  }
  table.table-striped tr:nth-child(even) {
    background-color: lightgray;
  }
  table.table-striped tr:nth-child(odd) {
    background-color: white;
  }
}

/* For the PDF print layout, we stick to black and white. */
@media pdf {
  .table th {
    background-color: white;
    color: black;
  } 
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

table.table {
  border-collapse: collapse;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 2px;
}

.table th {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 2px;
}

.table td {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 2px;
}

table.fixed {table-layout: fixed; width: 100%;} /*Setting the table width is needed!*/
table.fixed td {overflow: hidden;} /*Hide text outside the cell.*/
table.fixed td:nth-of-type(1) {width: 35%;} /*Setting the width of column 1.*/
table.fixed td:nth-of-type(2) {width: 35%;} /*Setting the width of column 2.*/
table.fixed td:nth-of-type(3) {width: 15%;} /*Setting the width of column 3.*/
table.fixed td:nth-of-type(4) {width: 15%;} /*Setting the width of column 4.*/
