body {
  font-family: Courier, monospaced;
}

dl {
  width: 100%;
  overflow: hidden;
}
dt {
  float: left;
  width: 70%;
  padding: 0;
  margin: 0
}
dd {
  float: left;
  width: 30%;
  padding: 0;
  margin: 0
}